*{
	font-family: Calibri;
}
h2{
	margin: 0px;
	padding:0px;
	
	}
	p{
		    margin: 12px;
            padding-left: 0px
		

	}
	img{
		margin-left: 12px

	}
	.heading{
		background-color: #a8b1bf 
	}
